{% extends 'base.html' %}

{% block title %} {{ question_num }} {% endblock %}

{% block header %} {% endblock %}
{% block content %}

<form action="/answers" method="POST">
    <h1>{{question.question}}</h1>

    {% for choice in question.choices %}
    <!-- question.choices is the question param from Question method -->
    <label for="{{ choice}}">{{ choice }}</label>
    <p><input type="radio" name="answer" id="{{choice}}" value="{{ choice }}"> {{ choice }} </p>

    {% endfor %}
    <input type="hidden" name="q_num" value="q_num">
    <button type="submit">Submit survey</button>
</form>

{% endblock %}